{% extends 'layouts/base.html' %} {% block titulo %} Login {% endblock %} {% block contenido %}

<br>
<form action="{{ url_for('login_estudiante') }}" method="POST" align = "center">
     <div class ="row">
     <div class="col-md-4 offset-md-4">
    <div class="card card-body">
    <h3 align="center"><label for="Datos">Ingreso de Estudiantes</label></h3>
    <br>
    <table width = "75%">
    <tr>
    <td>Correo</td>
    <td align = "center"><input type="email" size = "30" maxlength ="30" required class="form-control" id="correo" name="correo"></td>
    </tr>
    <tr>
    <td align = "center">Clave</td>
    <td><input type="password" required class="form-control" id="clave" name="clave"></td>
    </tr>
    <tr>
    </tr>   
     </table>   
    </div>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Ingresar</button>
    <a href="{{ url_for('inicio') }}">
    <button type="button" class="btn btn-success btn" href="{{ url_for('inicio') }}">
    Volver
    </button>
    </a>

</form>

{% endblock %}