{% extends 'layouts/base.html' %} {% block titulo %}Estudiantes {% endblock %} {% block contenido %}
<br>
<body background="img/fondo1.jpg" bgcolor="FFCECB">
<h1 align = "center">Listado de Estudiantes</h1>
<br>
<a href="{{ url_for('ver_estudiantes') }}"></a>
<div class ="col sm-12">
<table class="table table-dark table-striped">
    <div class="row">
    <div class ="col sm-12">
    <div class = "col sm-3"> </div>
    <div class = "col sm-6">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Celular</th>
            <th>Correo</th>
            <th>Semestre</th>
        </tr>
    </thead>
    <tbody>
        {% for estudiante in estudianteslista %}
        <tr>
            <td>{{ estudiante[0] }}</td>
            <td>{{ estudiante[1] }}</td>
            <td>{{ estudiante[2] }}</td>
            <td>{{ estudiante[3] }}</td>
            <td>{{ estudiante[4] }}</td>
            <td>{{ estudiante[5] }}</td>
            <td>
            <a href="/estudiantes/eliminar/{{estudiante.0}}" class="btn btn-danger btn-delete">Eliminar</a> 
            </td>
        </tr>
        {%endfor%}
    </td>  
    </div>
    </div>
    </div>
    </tbody>
</table>
</div>
<br>
    <a href="{{ url_for('ver_materias') }}">
    <button type="button" class="btn btn-success btn" href="{{ url_for('ver_materias') }}">
    Volver
    </button>
    </a>
<br>
<br>
<a href="{{ url_for('registro_estudiantes') }}">
    <button type="button" class="btn btn-success btn" href="{{ url_for('registro_estudiantes') }}">
    Agregar Nuevo Estudiante
    </button>
    </a>
    </body>
{% endblock %}
