{% extends 'layouts/base.html' %} {% block titulo %}Materias Por Semestre {% endblock %} {% block contenido %}
<h1 align = "center">Listado de Materias Activas</h1>
<br>
<a href="{{ url_for('ver_materias_semestre') }}"></a>
<div class ="col sm-12">
<table class="table table-dark table-striped">
    <div class="row">
    <div class ="col sm-12">
    <div class = "col sm-3"> </div>
    <div class = "col sm-6">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Semestre</th>
        </tr>
    </thead>
    <tbody>
        {% for materia_semestre in materias_semestre %}
        <tr>
            <td>{{materia_semestre[0]}}</td>
            <td>{{materia_semestre[1]}}</td>
            <td>{{materia_semestre[4]}}</td>
             
        </tr>
        {%endfor%}
    </td>  
    </div>
    </div>
    </div>
    </tbody>
</table>
</div>
<br>
    <a href="{{ url_for('login_estudiante') }}">
    <button type="button" class="btn btn-success btn" href="{{ url_for('login_estudiante') }}">
    Volver
    </button>
    </a>
<br>
<br>
    <a href="{{ url_for('clases_programadas') }}">
    <button type="button" class="btn btn-success btn" href="{{ url_for('clases_programadas') }}">
    Ver Clases Programadas Pendientes
    </button>
    </a>
    
{% endblock %}
