<head>
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<br>

<form action="{{ url_for('login') }}" method="POST" align = "center">
     
    <h3 align = "center"><label for="Datos">Ingreso de Docentes</label></h3>
    <br>
    <table width = "75%" align = "center" class = "table-light">
    <tr>
    <td>Correo</td>
    <td><input type="email" size = "30" maxlength ="30" required class="form-control" id="correo" name="correo"></td>
    </tr>
    <tr>
    <td>Clave</td>
    <td><input type="password" required class="form-control" id="clave" name="clave"></td>
    </tr>    
    <tr>
    <td><button type="submit" class="btn btn-primary">Ingresar</button></td>
    </tr>
    <tr>
    <td><a href="{{ url_for('inicio') }}">
    <button type="button" class="btn btn-success btn" href="{{ url_for('inicio') }}">
    Volver
    </button>
    </a></td>
    </tr>
   
     </table> 
    </form>


